.card-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* transform: rotate(90deg);  */
  transform-origin: center;
  color: white;
  font-size: calc(10px + 1vmin);
}

.image-container img {
  overflow: hidden;
  height: 150px;
}

/* Media query for mobile screens */
@media (max-width: 740px) {
  .cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Allow cards to wrap onto the next row */
    justify-content: center; /* Center the cards horizontally */
    align-items: center;
    overflow-x: hidden;
    transform: none; /* Remove rotation */
  }
  .title {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    color: white; 
    font-size: calc(10px + 2vmin);
    min-height: 100vh;
  }

  .clickable-text
  {
    color: white;
    padding: 10px;
    
  }
}



