
.card-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 

  transform-origin: center;
  color: white;
  font-size: calc(10px + 1vmin);
}



.image-container {
  display: flex;
  flex-direction: row; /* Ensure images are in a horizontal line */
  align-items: center;
  text-align: center; /* For centering the link text */
  /* Add any other styling you need */
}

.image-container img {
  width: 200px; /* Adjust the width as needed */
  height: auto;
  margin-right: 1px; /* Add margin to create spacing between images */
}





@media (max-width: 740px) {
  .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: hidden;
    transform: none;
    align-items: center;
    justify-content: center;
  }

  .title {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: calc(10px + 2vmin);
    min-height: 10vh;
  }

  .clickable-text {
    color: white;
  }

  .scrollable-container {
    height: 100vh;
    width: auto;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
  }

  html,
  body {
    scroll-behavior: smooth;
  }

  /* Add this to your existing CSS file or component stylesheet */
/* Add this to your existing CSS file or component stylesheet */
.horizontal-scroll {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent link items from wrapping to the next line */
}

.centered-link {
  text-align: center;
  display: inline-block; /* Ensure links stay in a line */
  margin-right: 20px; /* Adjust the spacing between links as needed */
}

.info-text {
  margin-bottom: 10px; /* Add margin to create a gap between divs */
}
.text-container {
  padding: 20px; /* Add padding to create space around the text */
}

}


