
.top-navbar {
 
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px; 
/* }  */

/* TopNavbar.css


  
  .top-navbar h2 {
    margin: 0;*/
    font-size: 24px;
    display: inline-block;
  }
  
  

.top-navbar a {
  text-decoration: none;
  color: white;
}
