/* ControllerTesterStyles.css */

/* Apply a grey background to the entire screen */
body, html {
    margin: 0;
    overflow: hidden; /* Prevent scrolling */
    background-image: url(../images/InputBackground.png);
    height: 100%;
  }
  

  /* Center the text within the gamepad input screen */
  h1, div, .error {
    text-align: center;
  }
  
  
  .gamepad-input-screen {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    transform-origin: center;
    color: white; 
    font-size: calc(10px + 2vmin);
    min-height: 100vh;
  }
  
